
@{
    ViewBag.Title = "AltaExitosa";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Paquete de viaje creado correctamente</h2>

@Html.ActionLink("Volver al listado", "FormListarPaquetesViajes", "PaquetesViajes")

