
@{
    ViewBag.Title = "AltaError";
    Layout = "~/Views/Shared/_LayoutPage2.cshtml";
}

<h2>Ocurrió un error</h2>

@ViewBag.Mensaje

@Html.ActionLink("Volver", "FormAltaPaqueteViaje3", "PaquetesViajes")
